{% extends "AppBundle::layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block content %}
	{{ form_start(form) }}
	<h3>Ajouter un projet</h3>
	{% if message %}
	<div class="alert alert-danger" role="alert">{{ message }}</div>
	{% endif %}
	<div class='row'>
		<div class='col-xs-12'>
			<div class='panel panel-default'>
				<div class='panel-heading'>Étapes <span id='total'></span></div>
				<div class='panel-body stages' data-prototype="{{ form_widget(form.stages.vars.prototype.children.title)|e }}<br />{{ form_widget(form.stages.vars.prototype.children.volume)|e }}{{ form_widget(form.stages.vars.prototype.children.status)|e }}">
					{% for stage in form.stages %}
						<div class='stage col-xs-6 col-sm-4 col-md-3'>
							{{ form_widget(stage.title) }}<br />
							{{ form_widget(stage.volume) }}
							{{ form_widget(stage.status) }}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-3'>
			<div class='panel panel-default'>
				<div  class='panel-heading'>Effectif</div>
				<div class='panel-body'>
					<ul class='list-group invite' data-prototype="<div class='form-group'>{{ form_widget(form.userProjects.vars.prototype.children.user)|e }}<br />{{ form_widget(form.userProjects.vars.prototype.children.status)|e }}</div>">
{#						<li class='list-group-item list-group-item-warning' data-toggle="tooltip" data-placement="top" title='Chef de Projet'>
							<span class="glyphicon glyphicon-star"></span>
							<strong>Pseudo</strong><br />
							Prénom Nom
						</li>#}
						{% for userProject in form.userProjects %}
							<li class="list-group-item invite">
								<div class='form-group'>
									{{ form_widget(userProject.user) }}<br />
									{{ form_widget(userProject.status) }}
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class='col-sm-9'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					{{ form_row(form.title) }}
				</div>
				<div class='panel-body'>
					{{ form_row(form.smallDescription) }}
					<div class='panel-body'>
					</div>
					{{ form_row(form.longDescription) }}
					<div class='panel-body'>
						<div class='col-sm-12 col-md-6'>
							{{ form_row(form.maxMembers) }}
							{{ form_row(form.categories) }}
						</div>
						<div class='col-sm-12 col-md-6'>
							{{ form_row(form.creationDate) }}
							{{ form_row(form.startDate) }}
							{{ form_row(form.endDate) }}
						</div>

					</div>
				</div>
				<div class='panel-footer'>
					{{ form_row(form.Brouillon, {'label': 'Sauvegarder le brouillon', 'attr': {'class': 'btn btn-primary btn-block'}} ) }}
					{{ form_row(form.Valider, {'label': 'Proposer le projet', 'attr': {'class': 'btn btn-primary btn-block'}} ) }}
				</div>
			</div>
		</div>
	</div>
	<div class='hidden'>
		{{ form_end(form) }}
	</div>
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('bundles/app/js/jquery-2.1.1.min.js') }}"></script>
	{{ parent() }}
	<script src="{{ asset('bundles/app/js/addProject.js') }}"></script>
{% endblock javascripts %}