{% extends "AppBundle::layout.html.twig" %}

{% block content %}


	<div class="row box">

		<div class="col-sm-3 col-xs-6">
			<label for='typeProjet'>Type de projet</label>
			<select id='typeProjet' class='form-control' multiple='true'>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
		<div class="col-sm-3 col-xs-6">
			<label for='competenceProjet'>Compétences</label>
			<select id='competenceProjet' class='form-control' multiple='true'>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
		<div class="col-sm-3 col-xs-6">
			<label for='statutProjet'>Status du projet</label>
			<select id='statutProjet' class='form-control' multiple='true'>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
		<div class="col-sm-3 col-xs-6">
			<label for='effectifProjet'>Effectif</label>
			<select id='effectifProjet' class='form-control' multiple='true'>
				<option>0-5 personnes</option>
				<option>5-10 personnes</option>
				<option>10+ personnes</option>
			</select>
		</div>
		<div class='col-xs-12 text-right'>
			<button type="submit" class="btn btn-default">Filtrer</button>
		</div>
	</div>
	<br>
	<div class="row box">
		<h4>Liste des projets</h4>
		<table class="table table-hover table-condensed">
			<thead>
			<th>Catégorie</th>
			<th>Nom</th>
			<th>Avancement</th>
			<th >Lancement</th>
			<th class="hidden-xs">Fin</th>
			<th class="hidden-xs">Nombre</th>
			</thead>
			<tbody>
				{% for project in projects %}
					<tr class='projectRow' id='{{ project.id }}'>
						<td>
							{% for category in project.categories %} 
								{{ category.title }}
							{% endfor %}
						</td>
						<td>
							<a href='{{ path('project_detail', { id: project.id }) }}'>{{ project.title }}</a>
						</td>
						<td>
							{% if project.getTotalStageVolume %}
								<div class="progress">
									<div class="progress-bar 
										 {% if project.getProgress.term <= 33 %}}
											 progress-bar-danger
										 {% elseif project.getProgress.term <= 67%}
											 progress-bar-warning
										 {% else %}
											 progress-bar-success
										 {% endif %}" 
										 role="progressbar" 
										 aria-valuenow="{{ project.getProgress.term }}" 
										 aria-valuemin="0" 
										 aria-valuemax="100" 
										 style="width: {{ project.getProgress.term }}%;">
										<strong>{{ project.getProgress.term }}%</strong>
									</div>
								</div>
							{% endif %}
						</td>
						<td class="hidden-xs">{{ project.startDate.format('d-m-Y') }}</td>
						<td class="hidden-xs">{{ project.endDate.format('d-m-Y') }}</td>
						<td class="hidden-xs">{{ project.userProjects | length }} <span class="glyphicon glyphicon-user"></span></td>
					</tr>
					<tr class='projectInfo hidden'>
						<td colspan='2'>Compétences</td>
						<td colspan='4'>Description</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock content %}

{% block javascripts %}
	{{ parent() }}
	<script src='{{ asset('bundles/app/js/projectList.js') }}'></script>
{% endblock %}

