{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <h3>Liste des projets</h3>
	<div class="row">
		<div class="col-sm-3 col-xs-6">
			<label for='typeProjet'>Type de projet</label>
			<select id='typeProjet' class='form-control' multiple='true'>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
		<div class="col-sm-3 col-xs-6">
			<label for='competenceProjet'>Compétences recherchées</label>
			<select id='competenceProjet' class='form-control' multiple='true'>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
		<div class="col-sm-3 col-xs-6">
			<label for='statutProjet'>Status du projet</label>
			<select id='statutProjet' class='form-control' multiple='true'>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
		<div class="col-sm-3 col-xs-6">
			<label for='effectifProjet'>Effectif</label>
			<select id='effectifProjet' class='form-control' multiple='true'>
				<option>0-5 personnes</option>
				<option>5-10 personnes</option>
				<option>10+ personnes</option>
			</select>
		</div>
		<div class='col-xs-12 text-right'>
			<button type="submit" class="btn btn-default">Filtrer</button>
		</div>
	</div>

	<div class="row">
		<table class="table table-hover table-condensed">
			<thead>
			<th>Catégorie</th>
			<th>Nom</th>
			<th>Avancement</th>
			<th>Lancement</th>
			<th>Fin</th>
			<th>Nombre</th>
			</thead>
			<tbody>
				{% for project in projects %}
					<tr>
						<td>
							{% for category in project.categories %} 
								{{ category.title }}
							{% endfor %}
						</td>
						<td>
							<a href='{{ path('project_detail', { id: project.id }) }}'>{{ project.title }}</a>
						<td>
							<div class="progress">
								<div class="progress-bar 
									 {% if project.getProgress.term <= 33 %}}
										 progress-bar-danger
									 {% elseif project.getProgress.term <= 67%}
										 progress-bar-warning
									 {% else %}
										 progress-bar-success
									 {% endif %}" 
									 role="progressbar" 
									 aria-valuenow="{{ project.getProgress.term }}" 
									 aria-valuemin="0" 
									 aria-valuemax="100" 
									 style="width: {{ project.getProgress.term }}%;">
									<strong>{{ project.getProgress.term }}%</strong>
								</div>
							</div>
						</td>
						<td>{{ project.startDate.format('d-m-Y') }}</td>
						<td>{{ project.endDate.format('d-m-Y') }}</td>
						<td>{{ project.userProjects | length + 1 }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock content %}

