{% extends "AppBundle::layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block content %}
	<div class='row'>
		<div class='col-xs-12'>
			<div class='panel panel-default'>
				<div class='panel-body'>
					<div class='progress'>
						{% set firstFalse = false %}
						{% for stage in project.stages %}
							{% if stage.status %}
								<div class="progress-bar progress-bar-success" 
									 style="width: {{ stage.volume }}%" 
									 data-toggle="tooltip" 
									 data-placement="top"
									 title='{{ stage.title }}'>
									<strong>{{ loop.index }}</strong>
								</div>
							{% else %}
								{% if firstFalse == false %}
									<div class="progress-bar progress-bar-warning" 
										 style="width: {{ stage.volume }}%"
										 data-toggle="tooltip" 
										 data-placement="top"
										 title='{{ stage.title }}'>
										<strong>{{ loop.index }}</strong>
									</div>
								{% else %}
									<div class="progress-bar progress-bar-danger" 
										 style="width: {{ stage.volume }}%"
										 data-toggle="tooltip" 
										 data-placement="top"
										 title='{{ stage.title }}'>
										<strong>{{ loop.index }}</strong>
									</div>
								{% endif %}
								{% set firstFalse = true %}
							{% endif %}
						{% endfor %}
					</div>
					<div class='col-xs-4 text-left'>
						<span class="label label-success">Terminé : {{ project.getProgress.term }}%</span>
					</div>
					<div class='col-xs-4 text-center'>
						<span class="label label-warning">En cours : {{ project.getProgress.current }}%</span>
					</div>
					<div class='col-xs-4 text-right'>
						<span class="label label-danger">En attente : {{ project.getProgress.left }}%</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-3'>
			<div class='panel panel-default'>
				<div  class='panel-heading'>Effectif</div>
				<div class='panel-body'>
					<ul class='list-group'>
						<a class='list-group-item list-group-item-warning' href='#' data-toggle="tooltip" data-placement="top" title='Chef de Projet'>
							<span class="glyphicon glyphicon-star"></span>
							<strong>{{ project.leader.pseudo }}</strong><br />
							{{ project.leader.firstname }} {{ project.leader.lastname }}
						</a>
						{% for userProject in project.userProjects %}
							{% if userProject.status == 3 %}
								<a class='list-group-item' href='#' data-toggle="tooltip" data-placement="top" title='Membre'>
									<strong>{{ userProject.user.pseudo }}</strong><br />
									{{ userProject.user.firstname }} {{ userProject.user.lastname }}
								</a>
							{% endif %}
						{% endfor %}
						{% for userProject in project.userProjects %}
							{% if userProject.status == 2 %}
								<a class='list-group-item list-group-item-info' href='#' data-toggle="tooltip" data-placement="top" title='Invitation'>
									<strong>{{ userProject.user.pseudo }}</strong><br />
									{{ userProject.user.firstname }} {{ userProject.user.lastname }}
								</a>
							{% endif %}
						{% endfor %}
						{% for userProject in project.userProjects %}
							{% if userProject.status == 1 %}
								<a class='list-group-item list-group-item-success' href='#' data-toggle="tooltip" data-placement="top" title='Postulation'>
									<strong>{{ userProject.user.pseudo }}</strong><br />
									{{ userProject.user.firstname }} {{ userProject.user.lastname }}
								</a>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class='col-sm-9'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					{{ project.title }}
				</div>
				<div class='panel-body'>
					{{ project.smallDescription }}
					<div class='panel-body'>
					</div>
					{{ project.longDescription }}
				</div>
				<div class='panel-footer'>
					<button type="button" class="btn btn-primary btn-block"><strong>Rejoindre le projet</strong></button>
					<button type="button" class="btn btn-primary btn-block"><strong>Abandoner le projet</strong></button>
				</div>
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class='panel-heading'>
				Compétences recherchées
			</div>
			<div class='panel-body'>
				{% for skill in project.skills %}
					<ul class="list-group">
						{% if skill.parent %}
							<li class="list-group-item active">{{ skill.title }}</li>
						{% endif %}
					</ul>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
{% block javascripts %}
	<script src='{{ asset('bundles/app/js/jquery-2.1.1.min.js') }}'></script>
	{{ parent() }}
	<script>
		$(document).ready(function ($) {
			$('[data-toggle="tooltip"]').tooltip({
				animated: 'fade'
			});
		});
	</script>
{% endblock %}