{% extends '::base.html.twig' %}

{% block body %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
	
			<ul class="nav navbar-nav navbar-right">
				<li role="présentation"><a href="{{ path('user_profile', {'id': app.user.id}) }}"><img src="" alt=""/>Bonjour, {{ app.user.username }} {{ app.user.lastname }}</a></li>
				{% if is_granted('ROLE_USER') %}
						<li role="présentation"><a href="{{ path('logout') }}">Se déconnecter</a>
				{% else %}
						<li role="présentation"><a href="{{ path('login') }}">Connexion</a>

				{% endif %}
				<li></li>
			</ul>
	
	</nav>
			<br>
			<br>
			<br>
	
	<nav role='navigation'>
		<ul class='nav nav-tabs'>
			{% block menu %}
				<li role='presentation'><a href='{{ path('home') }}'><span class="glyphicon glyphicon-home"></span></a></li>
				<li role='presentation'><a href='{{ path('user_list') }}'>Utilisateurs</a></li>
				<li role='presentation'><a href='{{ path('project_list') }}'>Projets</a></li>
				<li role='presentation'><a href='{{ path('project_myProjects') }}'>Mes projets</a></li>
				<li role='presentation'><a href='{{ path('project_add') }}'>Nouveau projet</a></li>
				<li role='presentation'><a href='{{ path('admin_home') }}'>Administration</a></li>
				<div class="col-sm-3 col-md-3 pull-right">
					<form class="navbar-form" role="search" action='#' method='POST'>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Recherche" name="search">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</div>
						</div>
					</form>
				</div>
			{% endblock menu %}
		</ul>
	</nav>

	<div class='page-header'><h1>PFR</h1></div>
	{% block content %}
	{% endblock content %}
{% endblock body %}