<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PFR {% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('faviconcoca.ico') }}" />
    </head>
    <body>
		<div class='container'>
			{% block body %}
			{% endblock %}
		</div>
		{% block javascripts %}
			<script src="{{ asset('bundles/app/js/jquery-2.1.1.min.js') }}"></script>
			<script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('bundles/app/js/secret.js') }}"></script>
		{% endblock %}
	</body>
</html>