{% extends "AppBundle::layout.html.twig" %}

{% block content %}
	{% include "AppBundle:Admin:menuAdmin.html.twig" with {'active' : 'project'} %}
	<div class="row">
		<table class="table table-condensed table-hover">
			<th>Type</th>
			<th>Intitulé</th>
			<th class="text-center">Date de création</th>
			<th class="text-center">Date de début</th>
			<th class="text-center">Date de fin</th>
			<th class="text-center">Validation</th>
				{% for project in projects %}
				<tr class='{% if project.status < 4 %} projectIsNotValid {% else %} projectIsValid {% endif %}	'>
					<td>
						{% for categorie in project.categories %}
							{{ loop.last ? categorie.title : categorie.title~' - ' }}
						{% endfor %}
					</td>
					<td>
						<a href="{{path('project_detail',{'id': project.id})}}">{{project.title}}</a>
					</td>
					<td class="text-center">
						{{project.creationDate|date('d-m-Y')}}
					</td>
					<td class="text-center">
						{{project.startDate|date('d-m-Y')}}
					</td>
					<td class="text-center">
						{{project.endDate|date('d-m-Y')}}
					</td>
					<td class="text-center">
						{% if project.status < 4 %}
							<a href="{{path('admin_validate_project',{'id': project.id})}}" data-toggle="tooltip" data-placement="top" title='Valider'>
								<span class="glyphicon glyphicon-check text-success"></span>
							</a>
						{% else %}
							<a href="{{path('admin_validate_project',{'id': project.id})}}">
								<span class="glyphicon glyphicon-remove-circle text-danger"></span>
							</a>
						{% endif %}	
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock content %}

{% block javascripts %}
	{{ parent() }}
	<script>
	$('[data-toggle="tooltip"]').tooltip({
		animated: 'fade'
	});
	</script>
{% endblock javascripts %}