{% extends "AppBundle::layout.html.twig" %}
{% block content %}
	{% include "AppBundle:Admin:menuAdmin.html.twig" with {'default' : 'skill'}%}
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">Ajouter une compétence ou une catégorie</div>
			<div class="panel-body text-center">
				{#				FORMULAIRE D'AJOUT DE COMPÉTENCE         #}
				<form class="form-inline" action="{{path('admin_add_skill')}}" method="POST">
					<div class="form-group">
						<label class="sr-only" for="inputSkill">Nom de la catégorie ou de la compétence</label>
						{#		CHAMP INTITULÉ DE COMPÉTENCE				#}
						<input type="text" class="form-control" id="inputSkill" placeholder="Intitulé" name="title" required="required">
					</div>
					<div class="form-group">
						<label class="" for="selectCat">Catégorie :</label>
						{#		MENU DÉROULANT				#}
						<select class="form-control" name="selectCat" placeholder="Catégorie">
							{% for skill in skills %}
								{% if skill.parent == null %}
									{#		OPTIONS DU MENU							#}
									<option value="{{skill.id}}">{{ skill.title }}</option>
								{% endif %}
							{% endfor %}
							<option value="-1">Ajouter une catégorie</option>
						</select>
						{#		FIN MENU DÉROULANT								#}
					</div>
					{#		BOUTON D'ENVOI			#}
					<button type="submit" class="btn btn-primary">Ajouter</button>
				</form>
				{#					FIN FORMULAIRE D'AJOUT DE COMPÉTENCE		#}
			</div>
			<div class="panel-footer small">Choisir "Ajouter une catégorie" pour ajouter une nouvelle catégorie.</div>
		</div>
	</div>
	<div class="row">
		{% for skill in skills %}
			{% if skill.parent == null %}
				<div class="list-group col-lg-3">
					<ul>
						<li class="list-group-item active">
							{#		DIV DISPLAY						#}
							<div class="row category" id="displaySkill{{ skill.id }}">
								<div id="title{{ skill.id }}" class="col-lg-8">{{ skill.title }}</div>
								<div id="cat-buttons{{ skill.id }}" class="col-lg-4 text-right">
									{#		EDIT CATEGORY BUTTON							#}
									<a href="" enable="true" class="editskillbtn" id="{{ skill.id }}">
										<span class="glyphicon glyphicon-edit small white"></span>
									</a>
									{% if skill.childs|length < 1 %}
										{#			DELETE CATEGORY BUTTON				#}
										<a href="{{path('admin_delete_skill',{'id' : skill.id })}}">
											<span class="glyphicon glyphicon-remove small white"></span>
										</a>
									{% endif %}
								</div>
							</div>
							{#		DIV EDITING								#}
							<div id="editSkill{{ skill.id }}" class="hidden">
								<form class="form" action="Javascript:saveEditSkill({{ skill.id }})">
									<div class="input-group">
										<input class="form-control" id="skillName{{ skill.id }}" value="">
										<span class="input-group-btn">
											<button class="btn btn-primary" id="save" type="submit">Valider</button>
										</span>
									</div>
								</form>
							</div>
						</li>
						{% if skill.childs|length > 0 %}
							{% for childSkill in skill.childs %}
								<li class="list-group-item">
									{#			DIV DISPLAY						#}
									<div class="row skill-list" id="displaySkill{{childSkill.id}}">
										<div id="title{{childSkill.id}}" class="col-lg-8">{{ childSkill.title }}</div>
										<div class="col-lg-4 text-right">
											{#		EDIT BUTTON			#}
											<a href="" enable="true" class="editskillbtn " id="{{childSkill.id}}"><span class="glyphicon glyphicon-edit small"></span></a>
												{#      DELETE BUTTON		#}				
											<a href="{{path('admin_delete_skill',{'id' : childSkill.id })}}">
												<span class="glyphicon glyphicon-remove small"></span>
											</a>
										</div>
									</div>
									{#			DIV EDITING								#}
									<div id="editSkill{{childSkill.id}}" class="hidden">
										<form class="form" action="Javascript:saveEditSkill({{childSkill.id}})">
											<div class="input-group">
												<input class="form-control" id="skillName{{childSkill.id}}" value="">
												<span class="input-group-btn">
													<button class="btn btn-primary" id="save" type="submit">Valider</button>
												</span>
											</div>
										</form>
									</div>

								</li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			{% endif %}		
		{% endfor %}
	</div>
{% endblock content %}
{% block javascripts %}
	{{ parent() }}
	<script language="JavaScript">
		$('.editskillbtn').click(function (e) {


			e.preventDefault();
			//	Get the id of the current ahref
			var id = this.id;
			//	Save the content of the div "title" with the same id of the ahref
			var content = $('#title' + id).html();
			//	If the ahref has the attribut "enable" to true
			if ($(this).attr('enable') === "true") {
				// Add the hidden attribute to the div i want to hide
				$('#displaySkill' + id).attr('class', 'hidden');
				// Replace the "hidden" attribute by "row" to the div i want to show
				$('#editSkill' + id).attr('class', 'row');
				// Give the previous content to the input
				$('#editSkill' + id + ' #skillName' + id).val(content);
				//	Disable all the others editing skill button
				$('.category .editskillbtn').each(function () {
					$(this).attr('enable', 'false');
				});
				//	Disable all the others editing category button
				$('.skill-list .editskillbtn').each(function () {
					$(this).attr('enable', 'false');
				});
			}
		});

		function saveEditSkill(id) {
			var that = this;
			var skillName = $('#skillName' + id).val();
			var id = id;
			$.ajax({
				url: "{{ path('admin_update_skill') }}",
				type: 'POST',
				data: {title: skillName, id: id}
			}).done(function (data) {
				// Replace the "hidden" attribute by "row" to the div i want to show
				$('#displaySkill' + id).attr('class', 'row');
				$('#title' + id).html(skillName);
				// Add the hidden attribute to the div i want to hide
				$('#editSkill' + id).attr('class', 'hidden');
				//	Disable all the others editing skill button
				$('.category .editskillbtn').each(function () {
					$(this).attr('enable', 'true');
				});
				//	Disable all the others editing category button
				$('.skill-list .editskillbtn').each(function () {
					$(this).attr('enable', 'true');
				});
			});
		}
	</script>
{% endblock javascripts %}