{% extends "AppBundle::layout.html.twig" %}

{% block content %}
	{% include "AppBundle:Admin:menuAdmin.html.twig" with {'default' : 'skill'}%}
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">Ajouter une compétence ou une catégorie</div>
			<div class="panel-body text-center">
				{#				FORMULAIRE D'AJOUT DE COMPÉTENCE         #}
				<form class="form-inline" action="{{path('admin_add_skill')}}" method="POST">
					<div class="form-group">
						<label class="sr-only" for="inputSkill">Nom de la catégorie ou de la compétence</label>
						{#		CHAMP INTITULÉ DE COMPÉTENCE				#}
						<input type="text" class="form-control" id="inputSkill" placeholder="Intitulé" name="title" required="required">
					</div>
					<div class="form-group">
						<label class="" for="selectCat">Catégorie :</label>
						{#		MENU DÉROULANT				#}
						<select class="form-control" name="selectCat" placeholder="Catégorie">
							{% for skill in skills %}
								{% if skill.parent == null %}
									{#		OPTIONS DU MENU							#}
									<option value="{{skill.id}}">{{ skill.title }}</option>
								{% endif %}
							{% endfor %}
							<option value="-1">Ajouter une catégorie</option>
						</select>
						{#		FIN MENU DÉROULANT								#}
					</div>
					{#		BOUTON D'ENVOI			#}
					<button type="submit" class="btn btn-primary">Ajouter</button>
				</form>
				{#					FIN FORMULAIRE D'AJOUT DE COMPÉTENCE		#}
			</div>
			<div class="panel-footer small">Choisir "Ajouter une catégorie" pour ajouter une nouvelle catégorie.</div>
		</div>
	</div>
	<div class="row">
		{% for skill in skills %}
			{% if skill.parent == null %}
				<div class="list-group col-lg-3">
					<ul>
						<li class="list-group-item active">{{ skill.title }}</li>
							{% if skill.childs|length > 0 %}
								{% for childSkill in skill.childs %}
								<li class="list-group-item">
									<div class="row">
										<div class="col-lg-9">{{ childSkill.title }}</div>
										<div class="col-lg-3 text-right"><span class="glyphicon glyphicon-remove small"></span></div>
									</div>
								</li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			{% endif %}		
		{% endfor %}
	</div>

{% endblock content %}

