{% extends "AppBundle::layout.html.twig" %}
{% block content %}
	{% include "AppBundle:Admin:menuAdmin.html.twig" with {'active' : 'user'}%}
	<div class="row box">
		<table class="table table-condensed table-hover">
			<thead>
			<th>Rôles</th>
			<th>Utilisateurs</th>
			<th class="text-center">Projets en cours</th>
			<th class="text-center">Projets finis</th>
			</thead>
			<tbody class="">
				{% for user in users %}
					<tr {% for role in user.roles %}
						{% if role == 'ROLE_ADMIN' %}
							class="bg-warning"
						{% elseif role == 'ROLE_SUPERADMIN' %}
							class="bg-danger"
						{% endif %}
					{% endfor %}>
					<td>
						{% for role in user.roles %}
							{% if role == 'ROLE_USER' %}
								Utilisateur
							{% elseif role == 'ROLE_ADMIN' %}
								Administrateur
							{% elseif role == 'ROLE_SUPERADMIN' %}
								Super Administrateur
							{% endif %}
							{{ loop.last ? '' : '-' }}
						{% endfor %}
						
						
						
					</td>
					<td>
						<a href="{{path('user_profile',{'id':user.id})}}">{{ user.firstname }} {{ user.lastname }} - "{{user.pseudo}}"</a>
					</td>
					<td class="text-center">
						<span class="badge badge-primary">
							{% set currentp = 0 %}
							{% for userProject in user.userProjects %}
								{% if userProject.project.status == 4 %}
									{% set currentp = currentp+1 %}
								{% endif %}
							{% endfor %}
							{{ currentp }}
						</span>
					</td>
					<td class="text-center">
						<span class="badge badge-info">
				
							
							{% set projetTerminer = 0 %}
							{% for userProject in user.userProjects %}
								{% if userProject.project.status != 4 %}
									{% set projetTerminer = projetTerminer+1 %}
								{% endif %}
							{% endfor %}
							{{ projetTerminer }}
						</span>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endblock content %}

