{% extends "::base.html.twig" %}

{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    <div class='page-header row'>
        <div style="background-image: url({{asset("bundles/app/img/logo-fil-rouge.png")}}); height: 119px; width: 78%; display: inline-block"></div><div style="background-image: url({{asset("bundles/app/img/motif_logo_fil_rouge.png")}}); height: 119px; width: 22%; display: inline-block"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input class="form-control" type="password" id="password" name="_password" />
                    </div>
                </div>
                <hr>
                <div class="text-center"><button type="submit" class="btn btn-success" >Login</button></div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>	
{% endblock body%}
