{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <h3>List des utilisateurs</h3>
    <br>
    <br>
    <div class="row">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <label for='searchName'>Par nom</label>
                <input id="searchName" class='form-control' placeholder="Nom Prenom">
                <label for='disponibilitée'>Par disponibilitée</label>
                <select id='disponibilitée' class='form-control'>
                    <option>Indifférent</option>
                    <option>Oui</option>
                    <option>Non</option>
                </select>
            </div>

            {% for i in 0..2 %}
                <div class="col-sm-3 col-xs-6">
                    <label for='typeProjet'>Type de compétence</label>
                    <select id='typeProjet' class='form-control' multiple='true'>
                        {% for skill in skills %}
							{% if skill.parent is not null  %}
								<option>{{ skill.title }}</option>
							{% endif %}
                        {% endfor %}
                    </select>
                </div> 
            {% endfor %}
		</div>
		<br>
		<br>
        <table class="table table-hover">
            <thead>
            <th>Disponibilité</th>
            <th>Nom Prénom</th>
            <th>Compétence 1</th>
            <th>Compétence 2</th>
            <th>Compétence 3</th>
            <th>Compétence 4</th>
            <th>..</th>
            </thead>

            {%for user in users %}

                <tr>
                    <td>{{ user.available? "Oui" : "Non" }} </td>
                    <td><strong>{{ user.lastname }}</strong> {{ user.firstname }}</td>
                    {% set cpt = 4 %}

                    {% for userSkill in user.userSkills %}
						{% if userSkill.skill.parent != null %}

							{% if cpt > 0 %}

								{% set cpt = cpt - 1 %}
								<td>
									{{ userSkill.skill.title }}
									
								</td>

							{% endif %}

						{% endif%}

                    {% endfor %}
					{% if cpt > 0 %}
						{% for i in 1..cpt %}
							<td></td>
						{% endfor %}                       
                    {% endif %}      

                    <td><a href="{{ path('user_profile', {'id':user.id}) }}"><button>Detail</button></a></td>
                </tr>
            {% endfor %}
        </table>

    </div>


{% endblock content %}

