{% extends "AppBundle::layout.html.twig" %}

{% block stylesheets %}		
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-switch.min.css') }}">                           
{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-sm-2 col-xs-6 text-center">
            {% for user in user %}
                <img src="{{ user.image.url }}"  alt="{{ user.image.alt }}" class="img-thumbnail "/>
            {% endfor %}
        </div>
        <div class="col-sm-6 col-xs-6">
            {% for user in user %}

                <dl class="dl-horizontal">
                    <dt>Prénom</dt>
                    <dd>{{ user.firstname }}</dd>
                    <dt>Nom</dt>
                    <dd>{{ user.lastname }}</dd>
                    <dt>Année de Naissance</dt>
                    <dd>{{ user.birthdate|date("Y") }} <input class="bootstrap-switch.bootstrap-switch-mini" type="checkbox" id="visibleBirthDate" checked data-size="mini"></dd>
                    <dt>Ville</dt>
                    <dd>{{ user.city }}</dd>
                    <dt>E-mail</dt>
                    <dd>{{ user.email }} <input class="bootstrap-switch.bootstrap-switch-mini" type="checkbox" id="visibleEmail" checked data-size="mini"></dd>
                    <dt>Téléphone</dt>
                    <dd>{{ user.tel }} <input class="bootstrap-switch.bootstrap-switch-mini" type="checkbox" id="visibleTel" checked data-size="mini"></dd>
                    <dt>Promotion</dt>
                    <dd>
                        {% for promo in user.promo %}
                            {% if loop.revindex == 1 %}
                                {{ promo. title }} <br>
                            {% else %}
                                {{ promo. title }} -
                            {% endif %}
                        {% endfor %}
                    </dd>
                    <dt>Disponibilité</dt>
                    <dd><input class="bootstrap-switch.bootstrap-switch-mini" type="checkbox" id="dispo" checked data-size="mini"></dd>
                </dl>
            {% endfor %}

        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Notification 1
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                          Skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Notification 2
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                          Skateboard et. Nihil anim keffiyeh helvetica, nth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Notification 3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                             Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        
        {% for user in user %}
        
            {%for userSkill in user.userSkills %}
              
                <div class="col-sm-6 col-xs-6 border">
                    
                   
                    <ul>  
                        {% if userSkill.skill.parent.title is defined  %}
                            <h4>{{ userSkill.skill.parent.title }} {{ loop.index }}</h4>
                            
                        {% else %}
                            <h4>{{ userSkill.skill.title }}</h4>
                           
                         
                        {% endif %}    
                    </ul>
                </div>
            {% endfor%}

        {% endfor %}

    </div>

{% endblock content %}

{% block javascripts %}
    
    <script src='{{ asset('bundles/app/js/jquery-2.1.1.js') }}'></script>
    <script src='{{ asset('bundles/app/js/bootstrap.min.js') }}'></script>
    <script src='{{ asset('bundles/app/js/bootstrap-switch.min.js') }}'></script>
    <script type="text/javascript">
        $('#dispo').bootstrapSwitch();
        $('#visibleTel').bootstrapSwitch();
        $('#visibleEmail').bootstrapSwitch();
        $('#visibleBirthDate').bootstrapSwitch();
           
    </script>
{% endblock %}
