{% extends "AppBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-switch.min.css') }}">                           
{% endblock %}

{% block content %}
    <div class="row" id="row">
        <div class="col-sm-2 col-xs-6 text-center">
			<div class="text-right"><a href="#"><span class="glyphicon glyphicon-edit"></span></a></div>
			<img src="{{ user.image.url }}"  alt="{{ user.image.alt }}" class="img-thumbnail "/><br>
        </div>
        <div class="col-sm-6 col-xs-6" id="profil">
			{{ form_start(userform) }}  
			<dl class="dl-horizontal">
				<dt>Prénom</dt>
				<dd><div>{{ user.firstname }}</div></dd>
				<dt>Nom</dt>
				<dd>{{ user.lastname }}</dd>
				<dt>Pseudo</dt>
				<dd><div>{{ user.pseudo }}</div></dd>
				<dt>Année de Naissance</dt>
				<dd>{{ user.birthdate|date("Y") }} 
					{{ form_widget(userform.publicBirthdate) }} 
				</dd>
				<dt>Ville</dt>
				<dd>{{ form_widget(userform.city) }}
					{{ form_widget(userform.publicCity) }}
				</dd>
				<dt>E-mail</dt>
				<dd>
						{{ form_widget(userform.email) }} 
						{{ form_widget(userform.publicMail) }} 
				</dd>
				<dt>Téléphone</dt>
				<dd>
						{{ form_widget(userform.tel) }}
						{{ form_widget(userform.publicTel) }} 
				</dd>
				<dt>Promotion</dt>
				<dd>
						{{ form_widget(userform.promo) }}
				</dd>
				<dt>Disponibilité</dt>
				<dd>	{{ form_widget(userform.available)}}</dd>
			</dl>
			{{ form_end(userform) }}
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Notification 1
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
							Skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Notification 2
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
							Skateboard et. Nihil anim keffiyeh helvetica, nth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Notification 3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
							Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
		{%for userSkill in user.userSkills %}
			{% if userSkill.skill.parent == null %}
				<div class='col-xs-6 col-sm-4 col-md-3'>
					<ul class='list-group'>
						<li class='list-group-item active'>
							{{ userSkill.skill.title }}
						</li>
						{% for childSkill in userSkill.skill.childs %}
							{% if childSkill.existInUser(user) %}
								<li class='list-group-item'>
									<div class="row">
										<div class="col-xs-6">{{ childSkill.title }}</div>
										<div class="text-right col-xs-6">
											{% for childUserSkill in childSkill.userSkills%}
												{% if  childUserSkill.user == user %}
													{% for i in 1..childUserSkill.value %}
														<span class="glyphicon glyphicon-star"></span>
													{% endfor%}
													{% if childUserSkill.value != 5 %} 
														{% for i in childUserSkill.value..4 %}
															<span class="glyphicon glyphicon-star-empty"></span>
														{% endfor%}
													{% endif %}
												{% endif %}
											{% endfor%}
										</div>
									</div>
								</li>
							{% endif%}
						{% endfor %}
					</ul>
				</div>
			{% endif%}
		{% endfor%}
	</div>
{% endblock content %}

{% block javascripts %}
    <script src='{{ asset('bundles/app/js/jquery-2.1.1.js') }}'></script>
    <script src='{{ asset('bundles/app/js/bootstrap.min.js') }}'></script>
    <script src='{{ asset('bundles/app/js/bootstrap-switch.min.js') }}'></script>
    <script type="text/javascript">
		$('#dispo').bootstrapSwitch();
		$('#visibleTel').bootstrapSwitch();
		$('#visibleEmail').bootstrapSwitch();
		$('#visibleBirthDate').bootstrapSwitch();
    </script>
{% endblock %}
