{% extends "AppBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Bienvenue{% endblock title %}

{% block content %}
	<div class="row">
		<div class="col-sm-12 box">
			<h4>Mes projets</h4>
			<table class="table">
				<tr>
					<td class="col-sm-1"><span class="glyphicon glyphicon-user"></span></td>
					<td class="col-sm-1">Progression</td>
					<td class="col-sm-10"><strong>Intitulé du projet</strong></td>
				<tr>
			</table>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-6 box">
			<h4>Les nouveaux projets</h4>
			<table class="table">
				{% for project in fiveProject|slice(0,5) %}
					<tr>
						<td class="text-center">
							<strong>
								{{ project.startDate|date('d-m-Y')}}
							</strong>
						</td>
						<td>
							<a href="{{ path('project_detail', { id: project.id }) }}">
								{{ project.title }}
							</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-sm-6 box">
			<h4>Il ne manque plus que vous</h4>
			<table class="table">
				{% for project in fiveProject|slice(0,5) %}
					{% set lastPlaces = project.maxMembers - ( project.userProjects | length + 1) %}
					{% if lastPlaces > 0 %}
						<tr>
							<td class="text-center"><span class="glyphicon glyphicon-user"></span> {{ lastPlaces }}</td>
							<td><a href="{{ path('project_detail', { id: project.id }) }}">{{ project.title }}</a></td>
						</tr>
					{% else %}
						<tr>
							<td class="text-center"><span class="glyphicon glyphicon-user"></span></td>
							<td>{{ 'Aucun projet ne nécessite de nouveaux colaborateurs'}}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock content %}
	
